/* -
-*-~*~-*-*-~*~-*-*-~*~* |
●▬▬▬▬▬▬▬๑۩۩๑▬▬▬▬▬▬▬●
Made by ~
Areal Alien ❥ 雷克斯
●▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●
──────▄▀▄─────▄▀▄
─────▄█░░▀▀▀▀▀░░█▄
─▄▄──█░░░░░░░░░░░█──▄▄
█▄▄█─█░░▀░░┬░░▀░░█─█▄▄█
-*-~*~-*-*-~*~-*-*-~*~* |
- */
:root {
    --bc: #efeeee;
    --white: #ffffff;
    --black: #000000;
    --dark-blue: #1f2029;
    --extra-dark-blue: #13141a;
    --dark-light: #424455;
    --red: #da2c4d;
    --dark-red: #6e1727;
    --yellow: #f8ab37;
    --grey: #ecedf3;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --orange: #fd7e14;
    --green: #28a745;
    --light-green: #24e33a;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --primary: #d1a9de;
    --secondary: #7015b3;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  * {
      box-sizing: border-box;
  }
  /* Classes */
  .space {
    margin: 1em 0;
  }
  /* User Header */
  .user-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-header-inner {
    width: 80%;
    min-height: 15vh;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }
  .uh-left {
    width: 100%;
    height: 100%;
    padding: 0 2em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .uh-image {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .uh-image-inner {
    width: 10.5rem;
    height: 10.5rem;
    border: .3em solid var(--grey);
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
  }
  .gradient {
    width: 100%;
    height: 100%;
    padding: .3em;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(214,41,118,1) 0%, rgba(250,126,30,1) 100%);
  }
  .gradient-gray {
    width: 100%;
    height: 100%;
    padding: .3em;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(236,237,243,1) 0%, rgba(228,229,233,1) 100%);
  }
  .uh-right {
    padding: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .user-info {
    font-size: 2em;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .uname-verified {
    height: 1.8rem;
  }
  .user-links a {
    margin: 0 1em 0 0;
    cursor: pointer;
  }
  .user-links a span {
    color: var(--black);
    font-weight: bolder;
  }
  .user-bio-name {
    font-weight: bold;
    margin: 1.75em 0 0 0;
    line-height: 0;
  }
  /* User stories */
  .user-stories {
    margin: 3em 0 1em 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-stories-inner {
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 4em;
  }
  .story-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .story-wrapper h2 {
    margin: .25em;
    font-size: 1.1em;
    font-weight: 400;
  }
  .story-inner {
    width: 75%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .story-inner:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .story-img {
    width: calc(100% - .5em);
    height: calc(100% - .5em);
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--grey);
    z-index: 2;
  }
  /* User Page */
  .user-page-wrapper {
    display: flex;
    justify-content: center;
    margin: 3em 0;
  }
  .user-page-inner {
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }
  .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .image-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  .img-overlay-wrapper {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity .15s ease-in-out;
  }
  .img-btns {
    font-size: 1.3em;
    color: var(--white);
    z-index: 10;
  }
  .img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    z-index: 9;
  }
  .image-block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }
  .block {
    width: 60%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-mode-brig);
    z-index: 20;
  }
  .block-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    z-index: 19;
  }
  /* User Loader */
  .user-loader {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    position: relative;
    width: 75px;
  }
  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    width: 100%;
  }
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  /* Keyframes */
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  @keyframes color {
    100%, 0% {
      stroke: var(--red);
    }
    40% {
      stroke: var(--blue);
    }
    66% {
      stroke: var(--green);
    }
    80%, 90% {
      stroke: var(--yellow);
    }
  }
  @media (max-width: 1024px) {
    .user-header-inner {
      width: 85%;
    }
    .uh-image {
      width: 10rem;
      height: 10rem;
    }
    .uh-image-inner {
      width: 9.5rem;
      height: 9.5rem;
    }
    .user-stories-inner {
      width: 85%;
      grid-column-gap: 2em;
    }
    .story-wrapper {
      margin: 0 1em;
    }
    .user-page-inner {
      width: 85%;
      grid-column-gap: 1.5em;
      grid-row-gap: 1.5em;
    }
    .img-btns {
      font-size: 1.1em;
    }
  }
  @media (max-width: 936px) {
    .user-header-inner {
      width: 90%;
    }
    .uh-left {
      padding: 0 1em 0 0;
    }
    .uh-image {
      width: 9rem;
      height: 9rem;
    }
    .uh-image-inner {
      width: 8.5rem;
      height: 8.5rem;
    }
    .user-stories-inner {
      width: 90%;
      grid-column-gap: .75em;
    }
    .story-wrapper {
      margin: 0 .5em;
    }
    .user-page-inner {
      width: 90%;
      grid-column-gap: 1.25em;
      grid-row-gap: 1.25em;
    }
    .img-btns {
      font-size: 1em;
    }
  }
  @media (max-width: 767px) {
    .uh-left {
      padding: 0;
    }
    .uh-image {
      width: 8.5rem;
      height: 8.5rem;
    }
    .uh-image-inner {
      width: 8rem;
      height: 8rem;
    }
    .story-wrapper {
      margin: 0 .25em;
    }
    .user-page-inner {
      grid-column-gap: 1em;
      grid-row-gap: 1em;
    }
    .img-btns {
      font-size: .8em;
    }
  }